
@import '@fontsource/aclonica';
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(57, 17, 17);
  color: azure;
  font-family: 'Aclonica', sans-serif;
 

}
.display-flex{
  display: flex;
}
.main-wrapper{
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 25px;
  max-height: 80vh;
  overflow: auto;
}

.debug{
  border: 1px solid yellow;
}