
@import '@fontsource/aclonica';

body{
  background-image: url('/d-e-d-bg.jpg');
  height: 100vh;
  background-size: cover;
  color: azure;
  font-family: 'Aclonica', sans-serif;
 
}

ul{
  list-style: none;
      a{
        text-decoration: none;
        color: aliceblue;
        &:hover{
          color: yellow;
          text-decoration: underline;
        }
      }
  }
  


.main-wrapper{
  justify-content: center;
  align-items: center;
  display: flex;
  padding-top: 100px;
}



.debug{
  border: 1px solid yellow;
}

// card 
.card-custom {
  border-radius: 20px;
  box-shadow: rgba(34, 34, 34, 0.9) 0 15px 30px -5px;
  border: 5px solid rgba(84, 117, 109, 0.9);
}

.card-custom__content {
  background-color: rgba(60, 90, 92, 0.8);
  border-radius: 17px;
  padding: 20px;
  width: 100%;
  height: 100%;
}